[submodule "basic-computer-science"]
	path = basic-computer-science
	url = https://github.com/agnoam/hit-basic-computer-science.git
	branch = master
[submodule "advanced-programming"]
	path = advanced-programming
	url = https://github.com/agnoam/hit-advanced-programming.git
	branch = master
[submodule "object-oriented-programming"]
	path = object-oriented-programming
	url = https://github.com/agnoam/hit-object-oriented-programming
	branch = master
